.rodape {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1em 20em;
    background-color: var(--preto);

}

.texto {

    padding: 0;
    margin: 0;
    color: var(--branco);
    font-size: 18px;
    font-weight: 400;

}